.mobile-nav {
  display: none;
  padding: 1rem 2rem;

  .dev-name {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    span {
      font-size: 1rem;
      font-weight: semi-bold;
    }
  }
  .nav-links {
    display: flex;
    gap: 0.5em;
    margin-top: 1rem;
    .active {
      font-weight: bold;
      text-decoration: none;
      color: #bc2727;
    }
  }
}

@media (max-width: 769px) {
  .mobile-nav {
    display: block;
  }
}
