.sidebar {
  padding: 1rem;
  .brand {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 0;
    flex-wrap: wrap;

    span {
      margin: 0.5rem;
      font-size: 2rem;
      font-weight: bold;
    }
    .theme-toggle {
      cursor: pointer;
    }
  }
  .devider {
    height: 2px;
    background-color: #bc2727;
    margin: 1rem 0;
  }
  .about-me {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    span {
      color: #bc2727;
    }
  }
  .sections {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    gap: 1rem;

    .active {
      span {
        color: #bc2727;
      }
    }
    span {
      cursor: pointer;
      &:hover {
        color: #bc2727;
      }
    }
  }
  .social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    div {
      width: calc(50% - 1rem);
      box-sizing: border-box;
    }

    span {
      color: #e0e1dd;
      padding: 0.25rem 0.5rem;
      cursor: pointer;
      border: 0.125rem solid #f3413b;
      border-radius: 8px;
      text-align: center;
      &:hover {
        color: #bc2727;
      }
    }
    @media (max-width: 520px) {
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
      gap: 0.5rem;
      div {
        width: 100%;
      }
      span {
        display: block;
        width: 100%;
      }
    }
  }
}
