* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  background-color: #0d1b2a;
  color: #e0e1dd;
}
.devider {
  height: 2px;
  background-color: #bc2727;
  margin: 1rem 0;
}
